.list ul li button {
  position: relative;
  right: 0%;
  background: #fff;
  color: red !important;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 20px;
  margin-right: 10px;
  display: inline-block;
  border: none;
}

.add-btn {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #7313cb;
  margin: 20px;
  padding: 10px;
  border-radius: 0.4rem;
  display: inline-block;
  border: none;
}

input,
button {
  padding: 8px 15px;
  border-radius: 5px;
  margin: 5px 0px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  font-size: 18px;
  font-weight: 300;
}

.list ul li {
  display: block;
  width: 100%;
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
  line-height: 30px;
  padding: 10px;
  position: relative;
}

.container {
  color: #000;
  max-width: 500px;
  margin: auto;
}

.completed {
  text-decoration: line-through;
}
