<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
  <li [ngbNavItem]="1">
    <button ngbNavLink>Todo App</button>
    <ng-template ngbNavContent>
      <div>
        <app-todos></app-todos>
      </div>
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <button ngbNavLink>Reactive Forms</button>
    <ng-template ngbNavContent>
      <div>
        <app-reactive-forms></app-reactive-forms>
      </div>
    </ng-template>
  </li>
  <li [ngbNavItem]="3">
    <button ngbNavLink>Apex Charts</button>
    <ng-template ngbNavContent>
      <div>
        <app-apex-charts></app-apex-charts>
      </div>
    </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>